
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

body {
    margin: 0;
}

body.splash {
    overflow: hidden;
    text-overflow:hidden;
}

body.splash #splash {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.9;
    -moz-opacity: 0.9;
    -webkit-opacity: 0.9;
    z-index: 1050;
    padding: 100px;   
    box-sizing: border-box;
}

body.splash #splash div {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43em;
    box-sizing: border-box;
}

body.splash #splash div:first-child {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDIxLjAyIDIxLjI3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojOGU4ZThlO30uY2xzLTJ7ZmlsbDpub25lO3N0cm9rZTojOGU4ZThlO3N0cm9rZS1saW5lY2FwOnNxdWFyZTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlLz48ZyBkYXRhLW5hbWU9IkxheWVyIDIiIGlkPSJMYXllcl8yIj48ZyBkYXRhLW5hbWU9IkxheWVyIDEiIGlkPSJMYXllcl8xLTIiPjxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIwLjUxIDIwLjQ1IDAuNTEgMTQuNDUgNi41MSAxNC40NSAwLjUxIDIwLjQ1Ii8+PHBhdGggY2xhc3M9ImNscy0yIiBkPSJNMjAuNTIsMTAuNzdhMTAsMTAsMCwwLDEtMTguNyw0Ljk0Ii8+PHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjIwLjUxIDAuODIgMjAuNTEgNi44MiAxNC41MSA2LjgyIDIwLjUxIDAuODIiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0uNSwxMC41QTEwLDEwLDAsMCwxLDE5LjIsNS41NiIvPjwvZz48L2c+PC9zdmc+);
    animation: rotation 3s infinite linear;
    -moz-animation: rotation 3s infinite linear;
    -webkit-animation: rotation 3s infinite linear;
}